menu "Applications CanMV Configuration"

    config RT_RECOVERY_MPY_AUTO_EXEC_PY
        bool "Enable recovery micropython auto execute boot.py or main.py make system crash"
        default n

    config MOUNT_SECOND_CARD
        bool "Mount second mmc card"
        depends on RT_USING_SDIO0 && RT_USING_SDIO1
        depends on !BSP_USING_WIFI_SDIO
        default n
        help
            Mount both SD/MMC controllers as storage. This is mutually
            exclusive with assigning one of the controllers to SDIO Wi-Fi.

endmenu
